<form action="/add" method="POST">
    <p>Title</p>
    <input type="text" id="content" name="title" placeholder="Title...">
    <p>Post</p>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button type="submit">Submit post</button>
</form>