<div class="dataInput">
    <form action="/up/{{id}}" method="POST">
        <h3>Update yout post</h3>
        <input type="text" id="title" name="title" placeholder="Title...">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="your text..."></textarea>
        <button class="sendData" type="submit">Update</button>
        <button class="cancelData"type="submit">Cancel</button>
    </form>   
</div>

<style>
    
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.dataInput {
    margin: 3px auto;
    width: 600px;
    height: 600px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    width: 500px;
    height: 500px;
    background: rgb(187, 141, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    display: block;
    color: #fff;
    font-size: 25px;
}

input, textarea, button {
    width: 80%;
    margin-bottom: 30px;
    padding: 15px;
    outline: none;
    border-radius: 6px;
    border: rgba(255, 255, 255, 0);
}

textarea {
    resize: vertical;
}


button.sendData {
    background-color:rgb(108, 240, 108);
    transition: background-color .2s;
    cursor: pointer;
}

button.sendData:hover {
    background-color: rgb(20, 235, 20);
}

button.cancelData {
    background-color: rgb(44, 200, 248);
    transition: background-color .2s;
    cursor: pointer;
}

button.cancelData:hover {
    background-color: rgb(8, 140, 180);
}
</style>